//===== Footer =====//
footer {
  display: flex;
  justify-content: space-around;
  background: url("./../build/images/illustrations/bgfooter.svg") no-repeat center top;
  padding-top: 10%;
  @media (min-width: $breakpoint-desktop-xl) {
    background-size: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 0;

    li {
      margin-bottom: 1em;

      a {
        text-decoration: none;
        color: $neutral-color-primary-grey;

        &:visited {
          color: $neutral-color-primary-grey;
        }
      }
    }

    .title-4 {
      margin-bottom: 1.25em;
    }
  }
}