//===== Header =====//
header {
  nav {
    background: url("./../build/images/illustrations/bgheader.svg") no-repeat center top;
    background-size: 100%;
    padding-bottom: 5%;
    font-size: 20px;

    ul {
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0;

      li {
        &:first-child {
          margin-top: 1em;
          margin-left: 15%;
          @media (min-width: $breakpoint-desktop-xl) {
            margin-top: 2em;
            margin-left: 10%;
          }
        }

        .line {
          margin-bottom: 1em;
          @media (min-width: $breakpoint-desktop-xl) {
            margin-bottom: 2em;
          }
        }

        &:hover {
          .line {
            height: 5px;
          }
        }

        a {
          text-decoration: none;
          color: $neutral-color-primary-grey;
          text-transform: uppercase;
        }
      }

      .submenu {
        li {
          margin: 0 5em;
        }
      }
    }
  }
}