.animated {
  offset-path: path('M879 -2C879 255.917 639.876 389 337.5 389C210.172 389 92.9964 351.926 0 289.743C-127.85 204.255 -210 71.3105 -210 -78');
  animation: move 2s linear forwards;
  transform: rotate(200deg);
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

  80% {
    left: 20%;
    top: -90px;
  }
  100% {
    left: 25%;
    top: -70px;
    offset-distance: 50%;
    transform: rotate(178deg);
  }
}