@font-face {
  font-family: "FrançoisOne";
  src: url("../fonts/Francois_One/FrancoisOne-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "FrançoisOne";
  src: url("../fonts/Work_Sans/static/WorkSans-Black.ttf") format("ttf");
}

body {
  margin: 0;
  padding: 0;
}