#our-ingredients {
  #ingredient-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5em 0 10em;

    &.bg-circle-green {
      background: url("./../build/images/products/ingredients-pictograms/green-half-circle.svg") no-repeat -50px -210px;
      background-size: 70% 90%;
    }

    &.bg-circle-purple {
      background: url("./../build/images/products/ingredients-pictograms/purple-half-circle.svg") no-repeat -50px -210px;
      background-size: 70% 90%;
    }

    &.bg-circle-yellow {
      background: url("./../build/images/products/ingredients-pictograms/yellow-half-circle") no-repeat -50px -210px;
      background-size: 70% 90%;
    }
  }

  .products-container {
    position: relative;
    width: 100%;
    height: 850px;

    #current-product-container {
      display: block;
      position: absolute;
      width: 300px;
      top: 15%;
      left: 35%;
      text-align: center;

      img:first-child {
        height: 420px;
      }

      div {
        margin-top: 0.5em;
      }
    }

    .select-product-container {
      position: absolute;
      bottom: 0;
      display: flex;
      gap: 4.3em;
      @media (min-width: $breakpoint-desktop-xl) {
        left: 20%;
      }


      #select-product {
        display: flex;
        gap: 4.3em;

        .product-item {
          position: relative;

          .intensity {
            display: none;
          }

          .title-intensity {
            display: none;
          }

        }

        #selected {
          background: $transparent-color-white;
          width: 100%;
          height: 100%;
          padding: 15px 25px;
          z-index: -1;
          border-radius: 20px;
          left: -25px;
          top: -15px;
        }
      }

      div {
        text-align: center;

        > img {
          width: 105px;
          height: 160px;
        }
      }

      button {
        background: none;
        border: none;
        border-radius: 0;
        padding: 0;

        > img {
          width: 50px;
          height: 60px;
        }
      }
    }

    img:hover {
      transform: scale(1.15);
      -webkit-transform: scale(1.15);
    }
  }

  #profile-container {
    background: $transparent-color-white;
    border-radius: 20px;
    padding: 2.3em 3.1em;
    width: 300px;
    height: 350px;
    margin-right: 5em;
    margin-top: 12em;
    @media (min-width: $breakpoint-desktop-xl) {
      width: 500px;
      height: 350px;
    }

    .profile {
      display: none;
      grid-template-columns: repeat(2, 170px);
      grid-template-rows: repeat(2, 90px);
      row-gap: 5em;
      column-gap: 1em;
      align-items: baseline;
      text-align: start;
      padding-top: 2em;
      @media (min-width: $breakpoint-desktop-xl) {
        gap: 5em;
      }
    }

    #active-profile {
      display: grid;
    }
  }
}


